@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
html {
    font-family: D-DIN, sans-serif;
    background-color: #121212;
    color: white;
}
a {
    color: #2A456E;
}
body {
    margin: 0;
    position: relative;
}
.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 5.14vw;
}
body {
	margin: 0 auto;
}
.homePage {
	background: #2C2138;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #2C2138;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #BBBBBB;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #777777;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.h1 {
    color: #B7ACC3;
  }
.a {
    color:
}
@font-face {
    font-family: 'D-DINCondensed';
    src: url(../fonts/D-DINCondensed-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'D-DINCondensed';
    src: url(../fonts/D-DINCondensed.otf);
}

@font-face {
    font-family: 'D-DIN';
    src: url(../fonts/D-DIN-Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: 'D-DIN';
    src: url(../fonts/D-DIN-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'D-DIN';
    src: url(../fonts/D-DIN.otf);
}
